<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>投注单一览</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/bet365.css" th:href="@{/css/bet365.css}" />
</head>
<body>
	<div class="orderlist" th:unless="${#lists.isEmpty(allOrders)}">
		<h2>投注一览</h2>
		<table>
			<tr th:each="order,orderStat : ${allOrders}">
				<!-- <td th:text="${orderStat.count}" align="center" th:style="${orderStat.odd}?'background: red':'background: blue'">1</td>  -->
				<td align="center">
					<table style="width: 100%">
						<tr>
							<td style="background: #3CB371; color: white">投注日期：</td>
							<td th:text="${{order.orderDate}}">2017/12/29</td>
							<td style="background: #3CB371; color: white">过关方式：</td>
							<td th:text="${{order.betTgtMatches}}">2串1</td>
							<td align="right"><button type="submit" name="editOrder"
									th:value="${orderStat.index}">编辑投注</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td style="background: #3CB371; color: white">投注本金：</td>
							<td th:text="${{order.orderPrpl}} + RMB">100.00 RMB</td>
							<td style="background: #3CB371; color: white">预计返回：</td>
							<td th:text="${{order.estmBonus}} + RMB">100.00 RMB</td>
							<td align="right"><button type="submit" name="closeOrder"
									th:value="${orderStat.index}">结束投注</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						</tr>
						<tr>
							<td style="background: #3CB371; color: white" colspan="5">投注单详情&nbsp;&nbsp;<img
								align="top" alt="展开详细投注单" src="../../images/plus.png"
								th:src="@{/images/plus.png}"></td>
						</tr>
						<tr style="background: gray">
							<td colspan="5">
								<div>
									<table style="width: 100%;color: white" th:each="orderDetail : ${order.orderDetailList}">
										<tr>
											<td th:text="${orderDetail.tMMatchTeam.teamName}">投注目标</td>
											<td th:text="${orderDetail.returnRate}" align="right">投注目标</td>
										</tr>
										<tr>
											<td th:text="${orderDetail.tMEarlyStageBetType.betTypeName}">投注类型</td>
											<td th:if="${orderDetail.isWin} == '0'" align="right" rowspan="2"><img src="../../images/yes.png" th:src="@{/images/yes.png}"/></td>
											<td th:if="${orderDetail.isWin} == '1'" align="right" rowspan="2"><img src="../../images/no.png" th:src="@{/images/no.png}"/></td>
										</tr>
										<tr>
											<td colspan="2"
												th:text="${orderDetail.tMBetTgtMatch.matchName} + ' - ' + ${orderDetail.tMMatchSeason.matchSsnName}">投注赛事</td>
										</tr>
										<tr>
											<td colspan="2"><hr width="100%"></td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>