<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="#{lable.order.mng.title}">投注单管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/bet365.css" th:href="@{/css/bet365.css}" />
</head>
<body>
	<div>
		<h2 th:text="#{label.order.new}">新增投注</h2>
		<form action="#" th:action="@{/order}" th:object="${betOrder}"
			method="post">
			<fieldset>
				<legend th:text="#{label.order.info}">投注单信息</legend>

				<div>
					<label for="orderDate"> <span th:text="#{label.order.date}">投注日期</span>
						(<span th:text="#{label.order.date.format}">YYYY/MM/DD</span>)
					</label> <input type="text" th:field="*{orderDate}"
						th:errorclass="fieldError" />
				</div>
				<div>
					<label for="betTgtMatches"> <span>过关方式</span> (<span>X串Y</span>)
					</label> <input type="text" th:field="*{betTgtMatches}"
						th:errorclass="fieldError" />
				</div>
				<div>
					<label for="orderPrpl"> <span>投注本金</span>
					</label> <input type="text" th:field="*{orderPrpl}"
						th:errorclass="fieldError" /> (<span>元</span>)
				</div>
				<div>
					<label for="estmBonus"> <span>预计返奖</span>
					</label> <input type="text" th:field="*{estmBonus}"
						th:errorclass="fieldError" /> (<span>元</span>)
				</div>


				<div>
					<label>投注单详情</label>
					<table>
						<thead>
							<tr>
								<th>No.</th>
								<th>赛事区域</th>
								<th>赛事类型</th>
								<th>赛事所属国/组织</th>
								<th>赛事名称</th>
								<th>投注球队</th>
								<th>投注类型</th>
								<th>赔率</th>
								<th><button type="submit" name="addRow">增加</button></th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="row,rowStat : *{orderDetailList}">
								<td th:text="${rowStat.count}">1</td>
								<td><select th:field="*{orderDetailList[__${rowStat.index}__].globalMatch}">
										<option th:each="var : ${allGlobalMatch}" th:value="${var.id}"
											th:text="${var.gblMatchName}">全球赛事</option>
								</select></td>
								<td><select th:field="*{orderDetailList[__${rowStat.index}__].matchCatetory}">
										<option th:each="var : ${allMatchCategory}"
											th:value="${var.matchCategoryId}"
											th:text="${var.matchCategoryName}">赛事类型</option>
								</select></td>
								<td><select th:field="*{orderDetailList[__${rowStat.index}__].matchCountry}">
										<option th:each="var : ${allMatchCountry}"
											th:value="${var.matchCyId}" th:text="${var.matchCyName}">赛事所属国/组织</option>
								</select></td>
								<td><select th:field="*{orderDetailList[__${rowStat.index}__].tMBetTgtMatch}">
										<option th:each="var : ${allBetTargetMatch}"
											th:value="${var.matchId}" th:text="${var.matchName}">赛事名称</option>
								</select></td>
								<td><select th:field="*{orderDetailList[__${rowStat.index}__].tMMatchTeam}">
										<option th:each="var : ${allMatchTeam}"
											th:value="${var.teamId}" th:text="${var.teamName}">投注球队</option>
								</select></td>
								<td><select th:field="*{orderDetailList[__${rowStat.index}__].tMEarlyStageBetType}">
										<option th:each="var : ${allEarlyStageBetType}"
											th:value="${var.betTypeId}" th:text="${var.betTypeName}">投注类型</option>
								</select></td>
								<td><input type="text" th:field="*{orderDetailList[__${rowStat.index}__].returnRate}"
									th:errorclass="fieldError" /></td>
								<td><button type="submit" name="removeRow"
										th:value="${rowStat.index}" >删除行</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>